@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


:root {
  --background: var(--color-neutral-50);
  --foreground: var(--color-neutral-950);
  --pattern-fg: var(--color-neutral-300);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.dark {
  --background: var(--color-neutral-950);
  --foreground: var(--color-neutral-50);
  --pattern-fg: var(--color-neutral-700);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
