@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


:root {
  --background: var(--color-neutral-50);
  --foreground: var(--color-neutral-950);
  --pattern-fg: var(--color-neutral-400);
  --pattern-fg-dark: var(--color-neutral-300);
  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
}

@layer components{
  .availability-ping{
    @apply animate-ping absolute inset-0 rounded-full bg-green-300 opacity-75;
  }
  .availability-pulse {
    @apply animate-pulse absolute rounded-full size-2 bg-green-400;
  }
  .button-inset{
    @apply border border-black/20 rounded-full inset-shadow-sm inset-shadow-black/5 dark:border-white/10 dark:inset-shadow-white/10
  }
  .about-text-span{
    @apply text-black font-semibold dark:text-neutral-200;
  }
  .about-skill-span{
    @apply inline-flex h-6 items-center gap-1 font-semibold border border-dotted border-neutral-800 text-neutral-950 dark:border-neutral-200 px-2 rounded-md bg-neutral-100 dark:bg-neutral-800 dark:text-neutral-100 
  }
  .links-span{
    @apply max-h-8 border border-black/20 inset-shadow-sm inset-shadow-black/15 dark:border-white/20 dark:inset-shadow-white/15 px-3 rounded-lg
  }
  .section-seprate{
    @apply border-b border-dashed border-neutral-300 dark:border-neutral-700
  }
  .green-bg{
    @apply  text-emerald-600 dark:text-emerald-500/80 bg-emerald-50 dark:bg-emerald-500/5 w-fit px-2 py-1 rounded-full border border-emerald-200/50 dark:border-emerald-500/10
  }
  .card-title {
    /* Base: Light Mode (using neutral shades) */
    /* Dark: Dark Mode (neutral-900/950) */
    @apply relative inline-block px-3 py-1 text-sm font-medium text-center transition-colors duration-200;
    @apply bg-neutral-100 text-neutral-700 border border-neutral-200 rounded-sm shadow-sm;
    @apply dark:bg-neutral-900 dark:text-neutral-300 dark:border-neutral-800 dark:shadow-[0_4px_24px_-8px_rgba(0,0,0,0.6)];
  }

  /* Base corner class */
  .corner {
    @apply absolute w-2 h-2;
  }

  /* Top Left */
  .corner-tl {
    @apply top-0 left-0 border-t-2 border-l-2 rounded-tl-xs;
    @apply border-neutral-400 dark:border-neutral-600;
  }

  /* Top Right */
  .corner-tr {
    @apply top-0 right-0 border-t-2 border-r-2 rounded-tr-xs;
    @apply border-neutral-400 dark:border-neutral-600;
  }

  /* Bottom Left */
  .corner-bl {
    @apply bottom-0 left-0 border-b-2 border-l-2 rounded-bl-xs;
    @apply border-neutral-400 dark:border-neutral-600;
  }

  /* Bottom Right */
  .corner-br {
    @apply bottom-0 right-0 border-b-2 border-r-2 rounded-br-xs;
    @apply border-neutral-400 dark:border-neutral-600;
  }
}

.dark {
  --background: var(--color-neutral-950);
  --foreground: var(--color-neutral-50);
  --pattern-fg: var(--color-neutral-700);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: space-mono, sans-serif; */
}
